<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Crédit refusé</title>
</head>
<body>
<h1>Crédit refusé</h1>
<p>Bonjour [[firstname]],</p>
<p>Nous regrettons de vous informer que votre demande de crédit [[amount]] n'a pas été traitée avec succès et que nous ne pouvons pas ajouter votre crédit à notre système pour le moment.</p>
<p>Selon nos critères d'approbation de crédit, le salaire garant doit être égal ou supérieur à 0,33 fois le montant du crédit demandé.</p>
<p>N'hésitez pas à nous contacter si vous avez des questions ou si vous souhaitez discuter de votre situation avec notre équipe.</p>
<p>Cordialement,</p>
<p>Votre équipe de microfinance</p>
</body>
</html>
